<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From Upload File</title>
</head>
<body>
    <h1>Upload file</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">

        <label for="">Name : <input type="text" name="name"></label><br>
        <label for="">Upload : 
            <input type="file" name="file" id="">
        </label>
        <input type="submit" value="upload">
    </form>
</body>
</html>